@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, p {
    @apply text-current;
  }
  h1 {
    @apply text-3xl md:text-5xl;
  }
  h2 {
    @apply text-lg
  }
  p {
    @apply text-base md:text-lg;
  }
  ul {
    @apply list-none;
  }
  input {
    @apply p-3 py-1 rounded-md;
  }
  input::placeholder {
    @apply text-gray-700
  }
  option {
    @apply font-sans font-semibold
  }
}

@layer utilities {
  .bgimage {
    @apply bg-scroll bg-contain bg-no-repeat bg-top;
  }

  .hov {
    @apply hover:shadow-xl transition-all duration-500
  }

  .nav-link {
    @apply normal-case text-base p-2 hover:text-orange-500 transition-all cursor-pointer
  }

  .modal {
    @apply pt-12;
    @apply fixed inset-0;
    @apply overflow-y-auto max-w-full max-h-screen;
    @apply bg-[#2c4e6b];
    @apply transition-all duration-500;
    @apply opacity-0 -translate-x-full;
  }

  .open {
    @apply opacity-100 -translate-x-[0%];
  }

  .buttonLink {
    @apply btn-sm md:btn px-9 md:px-14 p-2 rounded-full md:rounded-full border-0 text-white flex items-center;
    @apply text-lg font-medium normal-case;
  }
  
  .orange {
    @apply bg-orange-400 hover:bg-orange-400 hover:bg-opacity-80;
  }
  
  .blue {
    @apply bg-[#4486EC] hover:bg-[#4486EC] hover:bg-opacity-80;
  }

  .darkOrange {
    @apply bg-orange-600 hover:bg-orange-700;
  }

  .inputField {
    @apply w-full bg-gray-200 bg-opacity-0 border-b-2 rounded-none transition text-gray-900 p-2 md:p-3 placeholder:text-sm md:placeholder:text-base;
  }
  
  .inputField:focus {
    @apply bg-opacity-80 rounded-sm;
  }

  .submitButton {
    @apply btn orange border-none rounded-lg capitalize w-full;
  }

  .table th:first-child {
    @apply static;
  }

  .modal-container {
    @apply fixed z-50 inset-0 overflow-y-auto bg-gray-700 bg-opacity-75 flex justify-center items-center;
  }

  .modal-content-box {
    @apply bg-white rounded-lg px-6 w-full mx-3 md:w-1/2;
  }
}

.shadow-round {
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  background-color: #f5f5f5;
}
